@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');
*
{
    margin:0;
    padding:0;
    
}
:root{
    --clr:linear-gradient( violet,blue);
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    background: linear-gradient(145deg,rgb(185, 91, 107),rgb(75, 75, 161));
}
.active
{
    display:block;
}
.hello{
   /* display:none; */
    display:block;
    width:560px;
    margin:auto;
    
}
.hello >h3{
    color:white;
    font-size:7rem;
    font-weight :300;
}
.hello >button{
    background-color:rgb(63, 63, 105);
    color:black;
    font-weight: 200;
    font-size:1.5rem;
    width:100px;
    height:40px;
    border:2px solid white;
    border-radius:12px ;
}
.start
{ 
    display:none;
    width:500px;
    height:300px;
    margin:auto;
    border:2px solid white;
}
.start> h4{
    font-size:3.2rem;
    display:flex;
    justify-content:center;
    color:rgb(17, 16, 16);
}
input{
    width:250px;
    height:25px;
    margin-left:140px;
    /* why margin:auto is not  working  */

}
.start >button{
    display:block;
      font-size:1.5em;
     margin: 20px auto;
     border:4px solid white;
     border-radius:4px ; 
}
.value{
/*   width:200px; */
    /* height:150px; */
    font-size:3rem; 
    cursor:pointer;
    font-weight:300;
    border:2px solid black;
    display:flex;
 justify-content: center;
}
.value:hover{
    background-color:rgb(136, 129, 143);

   
}
.player1
{
    grid-area:player1;
    
}
.player2
{
    grid-area:player2;
    
}
.player1 h1{
    font-size:2rem;
    margin:auto;
}
.player2 h1{
    font-size:2rem;
    margin:auto;
}
.game
{
    grid-area:value;
}
.gameinfo
{
    grid-area:game-info;
    justify-content:center;
    
}
.gameinfo >span{
    font-size:1.2rem;
    display:inline-block;
    cursor:pointer;
    border:var(--clr);
    color:white;
    padding:0.25em 0.25em;
    text-shadow:0 0 0.125em hsl(0 0% 100%),0 0 0.25em rgb(221, 221, 134);
}
#GameStart{
  display:none;
    /* display:grid; */
    
    grid-template-areas: 'player1 player1 value  player2 player2'
    'game-info game-info game-info restart restart '
                        ;
    
    grid-column-gap:0;
}

.game{
    display:grid;
    grid-template-columns:repeat(3, 10vw);
    grid-template-rows:repeat(3, 10vw);
    grid-column-gap:0;
    /* How can remove a grid column gap */
}
.name1
{
  font-size:2rem;
  color:blue;
}
.name2
{
    font-size:2rem;
    color:brown;
}

.br-0
{
    border-right: 0vh;
}
.bb-0
{
    border-bottom: 0vh;
}
.bt-0
{
    border-top: 0vh;
}
.bl-0
{
    border-left: 0vh;
}
.line
{
    color:white;
    height:3px;
    width:20vw;
    display:none;
    position:absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}
#restart {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}
img
{
    display:none;
    margin:auto;
    height:14rem;
    width:14rem;
}